{% extends 'admin/base.html.twig' %}

{% block body %}

    <h1>Liste des admins</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Mail</th>
            <th>Rôles</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{% for role in user.roles %}
                {{ role }}
                {% endfor %}
            </td>
            <td><a href="{{ path('admin_delete_user', {'id': user.id}) }}">SUPPRIMER l'utilisateur</a></td>
            <td><a href="{{ path('admin_update_user', {'id': user.id}) }}">Modifier l'utilisateur</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock body %}