{% extends 'admin/base.html.twig' %}

{% block body %}

    <h1>Toutes les recettes</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Date de création</th>
            <th>Image</th>
        </tr>

        <a href="{{ path('admin_create_recipe') }}">Ajouter une recette</a>
        {% for recipe in recipes %}
        <tr>
            <td>{{ recipe.id }}</td>
            <td>{{ recipe.title }}</td>
            <td>{{ recipe.createdAt | date('d-m-Y') }}</td>
            <td>{{ recipe.instructions }}</td>
            <td><img src="{{ asset('assets/img/' ~ recipe.image) }}" alt=""></td>
            <td><a href="{{ path('admin_delete_recipe', {'id': recipe.id}) }}">Supprimer</a></td>
            <td><a href="{{ path('admin_update_recipe', {'id': recipe.id}) }}">Modifier</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock body %}