<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <h1>Dashboard Admin</h1>

    <nav>
        <ul>
            <li><a href="{{ path('admin_create_recipe') }}">Ajouter une recette</a></li>
            <li><a href="{{ path('admin_list_recipes') }}">Voir toutes les recettes</a></li>
            <li><a href="{{ path('admin_list') }}">Voir la liste des admins</a></li>
            <li><a href="{{ path('admin_create_user') }}">Créer un utilisateur</a></li>
            <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
        </ul>
    </nav>

</header>
{% for message in app.flashes('success') %}
    <section>
        <p style="background-color: green; color: white">{{ message }}</p>
    </section>
{% endfor %}
{% block body %} {% endblock body %}

</body>
</html>