<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
</head>
<body>
<header>
    <h1>Les recettes folles</h1>
    <a href="{{ path('login') }}">Se connecter</a>

    <nav>
        <ul>
{#
            <li><a href="{{ path('admin_update_user', {id : app.user.id}) }}">Connecté en tant que {{ app.user.email }}</a></li>
#}
            <li><a href="{{ path('list_recipes') }}">Liste des recettes</a></li>
            <li><a href="{{ path('list_categories') }}">Liste des catégories</a></li>
        </ul>
    </nav>
    <form method="get" action="{{ path('search_recipes') }}">
        <label>
            <input type="text" name="search" placeholder="Rechercher une recette"/>
        </label>
        <input type="submit" placeholder="Rechercher">
    </form>

    <form method="get" action="{{ path('search_categories') }}">
        <label>
            <input type="text" name="search" placeholder="Rechercher une catégorie"/>
        </label>
        <input type="submit" placeholder="Rechercher">
    </form>
</header>
{% block body %}{% endblock %}
</body>
</html>
